
h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 4rem;
    margin-bottom: 1.2rem;
    color: #fefae0;
    
    text-shadow: 0px 2px 5px black;

}
#h1{
    color: red;
    text-shadow: 0px 4px 8px black;
   
}
.light{
    background-color: whitesmoke;
}
.dark{
    background-color: rgb(20, 19, 19);
}

.body-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.main-container{
    width: 35rem;
    
    background-color: #264653;
    border-radius: 20px;
    box-shadow: 0px 0px 25px black;
    margin: 0 rem 2.5rem;
  
    
    
}

.timer-Display{
    background-color: #2a9d8f;
    border-top-left-radius:19px;
    border-top-right-radius: 19px;
    color: #fefae0;
    font-size: 4rem;
    padding:2rem;
    line-height: 4rem;
    text-align: center;
    border-bottom: 4px solid whitesmoke;
    text-shadow: 0px 0px 6px black;
    box-shadow: inset 0px 0px 8px whitesmoke;
}
.laps{
    color: whitesmoke;
    text-align: center;
    padding: 0.5rem;
    list-style-type: none;
    

}
.buttons{
    background-color: #fefae0;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    box-shadow: inset 0px -2px 8px grey;
    
}
button{
    width: 8rem;
    box-shadow: inset 0px 0px 10px rgb(187, 185, 185);
    
}
.change-mode{
    background-color: black;
    margin-top: 2rem;
    margin-left: 7rem;
    color: white;
}

@media ( max-width : 400px){
    .main-container{
        width: 21rem;
    }
    .timer-Display{
        font-size: 3rem;
    }
}

